.section {
    padding: 4rem;
    background-color: #E9F4EC;
}

.headDiv {
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin: 4rem 0;
}

.column {
    width: 25%;
}


.btn {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .section {
        padding: 2rem;
    }

    .row {
        flex-direction: column;
        gap: 4rem;
        padding: 0 10%;
    }

    .column {
        width: 100%;
    }
}