.section {
    background-color: black;
    color: white;
    padding: 4rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 33.3%
}

.footLastRow {
    width: 100%;
    padding: 3rem 0;
    display: flex;
}

.footCopyright {
    width: 50%;
}

.footCopyright p {
    float: right;
}

.footSubscribe {
    width: 50%;
}

@media only screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        gap: 2rem;
    }

    .column {
        width: 100%;
    }

    .footLastRow {
        flex-direction: column;
        gap: 2rem;
    }

    .footCopyright,
    .footSubscribe {
        width: 100%;
    }

    .footCopyright p {
        float: none;
    }
}