.section {
    padding: 4rem;
    text-align: center;
}

.row {
    margin: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 20%;
}

@media only screen and (max-width: 1000px) {

    .section {
        padding: 2rem;
    }

    .row {
        flex-direction: column;
        gap: 5rem;
    }

    .column {
        width: 100%;
    }
}