.section {
    padding: 4rem;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 4rem 0;
}

.column {
    width: 20%;
}

.smallDiv {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.smallDivCol {
    width: 50%
}

@media only screen and (max-width: 1000px) {
    .section {
        padding: 2rem;
    }

    .row {
        flex-direction: column;
        gap: 4rem;
    }

    .column {
        width: 100%;
    }

    .smallDiv {
        flex-direction: column;
        gap: 3rem;
    }

    .smallDivCol {
        width: 100%;
    }
}