.navRow {
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
}

.navLogo {
    width: 10%;
    margin-top: 0.7rem;
}

.navLinks {
    width: 90%;
    padding-top: 0.55rem;
    margin: 0 0 0 5rem;

}

.menuItems {
    width: 10%;
    padding: 0 1.2rem;
    font-size: 0.85rem;
    font-weight: 500;
}

.menuItems:active {
    text-decoration: underline;
}