.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
    text-align: justify;
}

.coluumn {
    width: 33.3%;
}

.sumRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 15rem;
    margin: 7rem 0;
}

.sumColumn {
    width: 50%;
}

.sumColumn p {
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        gap: 4rem;
    }

    .coluumn {
        width: 100%;
    }

    .sumRow {
        flex-direction: column;
        gap: 4rem;
    }

    .sumColumn {
        width: 100%;
    }
}