.overview {
    padding: 0 4rem;
    margin: 2rem 0 4rem
}

.overview h1 {
    text-align: center;
}

.overview p {
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    .overview {
        padding: 0 2rem;
        margin: 2rem 0 4rem;
    }
}